header {
  width: 100%;
  height: 76px;
  background-color: #fff;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  box-shadow: 0 2px 3px #5e5e5e;
  z-index: 1;
}

nav {
  width: 930px;
  height: 27px;
  margin: auto;
  display: flex;
  padding: 23px 40px;
  justify-content: space-around;
}

.logo {
  min-width: 200px;
  height: 100%;
  display: flex;
}

.header-bg-logo {
  height: 35px;
  width: 60px;
  background: image-url("icons.png");
  background-repeat: no-repeat;
  background-position: -176px 0;
  background-size: 395px 371px;
}

.header-logo {
  font-family: 'Elsie', cursive;
  color: #3f3f3f;
  font-size: 28px;
  line-height: 1.1;
  font-weight: 600;
  text-shadow: 1px 1px 1px #686868;
  font-style: italic;
  margin-left: 5px;
  box-sizing: border-box;
  margin-top: 3px;
}

.search-area {
  position: relative;
  margin-top: 4px;
}

.search-bar {
  width: 210px;
  height: 25px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 3px;
  cursor: text;
  text-align: center;
}

.search-text {
  font-size: 14px;
  color: #999;
  font-weight: 300;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}

.search-area div {
  position: absolute;
  top: 4px;
  right: 77px;
}

.search-icon {
  height: 10px;
  width: 10px;
  display: inline-block;
  background: image-url("icons.png");
  background-repeat: no-repeat;
  background-position: -379px -161px;
  background-size: 395px 371px;
  margin-right: 6px;
}

.header-icons {
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.header-icons span {
  margin-right: 30px;
}


.explore-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background: image-url("icons.png");
  background-repeat: no-repeat;
  background-position: -25px -347px;
  background-size: 395px 371px;
  margin-right: 6px;
}

.notification-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background: image-url("icons.png");
  background-repeat: no-repeat;
  background-position: -353px -151px;
  background-size: 395px 371px;
  margin-right: 6px;
}

.profile-icon {
  height: 24px;
  width: 24px;
  display: inline-block;
  background: image-url("icons.png");
  background-repeat: no-repeat;
  background-position: -353px -226px;
  background-size: 395px 371px;
  margin-right: 6px;
}
