.login-form {
  width: 300px;
  height: 150px;
  margin: auto;
  padding-top: 20px;
}

.signup-form {
  width: 300px;
  height: 330px;
  margin: auto;
  padding-top: 20px;
  margin-top: 20px;
}

.login-form input, .signup-form input {
  width: 262px;
  height: 34px;
  text-align: left;
  font-family: sans-serif;
  padding: 9px 0 7px 8px;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: #fafafa;
  line-height: 18px;
  font-weight: 300;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 3px;
}

.signup-button, .login-button {
  width: 262px;
  height: 26px;
  background: #3897f0;
  border-radius: 3px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 0 8px;
  box-sizing: border-box;
}

.slogan {
  font-size: 17px;
  font-weight: 600;
  width: 268px;
  margin: auto;
}

.polocy {
  width: 228px;
  margin: auto;
  margin-top: 15px;
  font-size: 14px;
}

.forgot {
  font-size: 12px;
  color: #003569 !important;
}
